header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}

body {
    color: #666666;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url(images/ptrbackground.jpg);
}

#Wrapper {
    background-color: #FFFFFF;
    width: 80%;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #000033;
}

header {
    background-color: #000033;
    background-image: url(images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

nav {
    background-color: #90C7E3;
    font-weight: bold;
    padding: 5px 5px 5px 20px;
}

nav a {
    text-decoration: none;
}
nav a:link { color: #000033 }
nav a:visited { color: #344873 }
nav a:hover { color: #FFFFFF }


h2 {
    color: #3399CC;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-shadow: 1px 1px 1px #666666;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

h3 {
    color: #000033;
    font-family: Georgia, Times, "Times New Roman", serif;
}

#content {
    padding: 1px 20px 20px;
    float: left
}

#content ul {
    list-style-image: url(images/marker.gif);
    list-style-position: inside
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 0;
    padding: 10px;
}

#contact {
    font-size: 90%;
}

#gallery {
    position: relative;
    height: 200px;
}

#gallery ul {
    list-style-type: none;
    width: 250px;
}

#gallery li {
    display: inline;
    float: left;
    padding: 10px;
}
    
#gallery img {
    float: none;
    padding: 0
}

#gallery a {
    text-decoration: none;
    font-style: italic;
    color: #666666;
}

#gallery span {
    display: none;
}

#gallery a:hover span {
    display: block;
    position: absolute;
    top: 15px;
    left: 320px;
    text-align: center;
}

#placeholder {
    position: absolute;
    top: 15px;
    left: 320px;
    opacity: .25;
}


footer {
    font-size: 75%;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    padding: 20px;
    clear: both;
}
